.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    &.grey {
        background-color: #f1f1f1;
    }
    @include respond-to(max-width, con) {
        min-height: 100%;
        padding-bottom: 5rem;
        &.grey {
            background-color: white;
        }
    }
}
.container-title {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3.75rem;
    position: relative;
    & > span {
        border-bottom: 3px solid $main-color;
        padding-bottom: 0.5rem;
    }
    .add-btn__static {
        font-size: 1rem;
        font-weight: normal;
        color: $main-color;
        border: 1px solid $main-color;
        height: 2.1875rem;
        padding: 0 1.5rem;
        position: absolute;
        right: 6.25rem;
        top: 50%;
        margin-top: -1.09375rem;
    }
}
.ad-box {
    display: block;
    width: 25.5rem;
    max-width: 100%;
    height: 14.125rem;
    background-color: #D6D6D6;
    position: relative;
    & > img {
        max-width: 100%;
    }
    &::after {
        content: 'ad';
        width: 1.5rem;
        height: 1.125rem;
        background-color: $main-color;
        color: white;
        font-size: 0.75rem;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
    }
}

.r-tab {
    [role="tab"] {
        flex: 1 1 auto;
        padding: 1.125rem 0.5rem;
        font-size: 1.125rem;
        font-weight: normal;
        color: #767676;
        background-color: white;
        border-bottom: 3px solid $main-color;
        &[aria-selected="true"] {
            background-color: $main-color;
            color: white;
        }
        @include respond-to(max-width, con) {
            font-size: 1.165rem;
            border-bottom: 1px solid #EBEBEB;
            padding: 0.8333rem 0.5rem;
        }
    }
}
.r-tabpanel {
    background-color: white;
}
.profile-img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background-image: url('../images/default-person.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info-card {
    width: 50%;
    margin-bottom: 0.5rem;
    &.lined {
        .card-list {
            border-left: 7px solid #D9D9D9;
        }
    }
    &:nth-of-type(2n) {
        padding-left: 0.5rem;
    }
    &:nth-of-type(2n+1) {
        padding-right: 0.5rem;
    }
    .card-list {
        border: 1px solid #D6D9E3;
        border-radius: 3px;
        padding: 1.25rem 1.5rem;
        & > li {
            display: flex;
            margin-bottom: 0.625rem;
            word-break: break-word;
            & > span {
                color: #8E8E8E;
                font-size: 1rem;
                font-weight: normal;
                display: inline-block;
                width: 6.5625rem;
                flex: 0 0 auto;
            }
            &:first-of-type {
                font-weight: 500;
            }
            &:last-of-type {
                color: #8E8E8E;
                margin-bottom: 0;
            }
        }
    }
}


.view-site {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    z-index: 9990;
    display: none;
    &.active {
        display: block;
    }
    & > li {
        color: #333;
        text-align: center;
        padding: 1rem;
    }
}
.test-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    background-color: #333;
    width: 2rem;
    height: 2rem;
}