.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 300;
    display: none;
    &.active {
        display: block;
    }
    &.info-modal {
        .modal-container {
            width: 32.875rem;
            .modal-body {
                padding-left: 2.625rem;
                padding-right: 2.625rem;
            }
            @include respond-to(max-width, con) {
                .modal-body {
                    padding: 0;
                    &.myprofile {
                        padding: 0;
                        .modal-body__section {
                            .info-list {
                                padding: 2rem 20px;
                                padding-top: 1rem;
                                border-width: 0.666rem;
                                & > li {
                                    & > span {
                                        font-size: 1rem
                                    }
                                    .info-txt {
                                        font-size: 1.165rem;
                                        .contact-icons {
                                            margin-top: -0.25rem;
                                            & > li {
                                                & > button {
                                                    width: 2.15rem;
                                                    height: 2.15rem;
                                                    & > img {
                                                        width: 1.08rem;
                                                        transform: translateY(1px);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .section-title {
                                padding: 1rem 20px;
                            }
                            .text-area__wrap {
                                padding: 0 20px;
                            }
                        }
                        .modal-profile {
                            border: 0;
                            border-bottom: 0.666rem solid #EBEBEB;
                            .profile-img {
                                width: 7.5rem;
                                height: 7.5rem;
                            }
                        }
                        .modal-body__title {
                            display: none;
                        }
                        .mark-list__wrap {
                            padding: 0 20px;
                            .mark-title {
                                color: #8E8E8E;
                                font-size: 1rem;
                            }
                            .mark-list {
                                & > li {
                                    font-size: 1.165rem;
                                    padding: 0.333rem 0.8333rem;
                                }
                            }
                        }
                        .info-list {
                            padding: 2rem 20px;
                            border-width: 0.666rem;
                            & > li {
                                & > span {
                                    font-size: 1rem
                                }
                                .info-txt {
                                    font-size: 1.165rem;
                                    .contact-icons {
                                        margin-top: -0.25rem;
                                        & > li {
                                            & > button {
                                                width: 2.15rem;
                                                height: 2.15rem;
                                                & > img {
                                                    width: 1.08rem;
                                                    transform: translateY(1px);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .h-list {
                        & > li {
                            padding-left: 20px;
                            padding-right: 20px;
                            border: 0;
                            margin: 0;
                            & > span {
                                background-color: white;
                                width: 40%;
                                padding: 1.333rem 0;
                                font-size: 1.165rem;
                            }
                            .h-list__txt {
                                font-size: 1.08rem;
                                padding: 1.333rem 0.5rem;
                                justify-content: flex-end;
                                & > a {
                                    word-break: break-all;
                                }
                            }
                            &:first-of-type {
                                border-top: 0.666rem solid #EAEAEA;
                            }
                            &:not(:last-of-type) {
                                border-bottom: 0.666rem solid #EAEAEA;
                            }
                        }
                    }
                    .form {
                        &.p_h-none {
                            padding-right: 20px !important;
                            padding-left: 20px !important;
                        }
                    }
                    .modal-profile {
                        padding: 2.3rem 0 2rem 0;
                        border-bottom: 0.666rem solid #EAEAEA;
                    }
                    .profile-img {
                        width: 6rem;
                        height: 6rem;
                        margin-bottom: 0.833rem;
                    }
                    .profile-change {
                        font-size: 0.915rem;
                        color: $main-color;
                        font-weight: 500;
                    }
                    .modal-body__section {
                        .modal-body__title {
                            background-color: white;
                            border: 0;
                            padding: 2rem 3.833rem;
                            height: auto;
                            .title {
                                font-size: 1.333rem;
                                font-weight: bold;
                            }
                        }
                        .section-title {
                            padding: 2rem 3.833rem;
                            font-size: 1.333rem;
                            font-weight: bold;
                        }
                        .text-area__wrap {
                            padding: 0 3.833rem;
                            .text-area__content {
                                font-size: 1.08rem;
                                font-weight: normal;
                                padding: 1.333rem;
                                background-color: white;
                            }
                        }
                        .form {
                            padding: 0 3.833rem;
                            & > fieldset {
                                margin-left: 0;
                                margin-right: 0;
                                .f-label {
                                    padding-left: 0;
                                }
                                .f-input {
                                    padding-left: 0;
                                }
                            }
                        }
                        .info-list {
                            padding: 0 3.833rem;
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    &.alert-modal {
        .modal-container {
            width: 32.5rem;
            @include respond-to(max-width, con) {
                max-width: calc(100% - 40px);
            }
            .modal-body {
                border-radius: 10px;
                padding: 3.7rem 2.625rem 2.625rem;
                .alert-title {
                    text-align: center;
                    font-size: 1.625rem;
                    font-weight: 500;
                    margin-bottom: 1.75rem;
                    & > strong {
                        color: $main-color;
                        font-weight: 500;
                    }
                }
                .alert-txt {
                    text-align: center;
                    font-size: 1.25rem;
                    color: #8B8B8B;
                    font-weight: normal;
                }
                .bottom-btns {
                    margin-top: 2.5rem;
                    .btn {
                        &:first-of-type {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
    @include respond-to(max-width, con) {
        &:not(.alert-modal) .modal-container {
            width: 100% !important;
            min-width: 100% !important;
            padding: 1.5rem 20px;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            .modal-body {
                @include respond-to(max-width, con) {
                    border: 0;
                    padding: 0;
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    };
    .modal-container {
        position: relative;
        -webkit-transform: translate(0);
        transform: translate(0);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 2rem;
        height: 100%;
        padding: 1.5rem 0;
        border-radius: .25rem;

        margin: 0 auto;
        width: 50%;
        max-width: 100%;
        min-width: 20rem;
    }
    .modal-header {
        border: 1px solid #D3D3D3;
        background-color: white;
        border-bottom: 0;
        padding: 2rem;
        text-align: center;
        position: relative;
        
        .modal-title {
            font-size: 1.625rem;
            font-weight: 500;
            @include textoverflow();
        }
        .modal-close {
            width: 2.5rem;
            height: 2.5rem;
            padding: 0;
            position: absolute;
            top: 1.875rem;
            right: 1.875rem;
            & > img {
                width: 1.25rem;
                height: auto;
            }
        }
        @include respond-to(max-width, con) {
            padding: 1rem;
            border: 0;
            border-bottom: 1px solid #E3E3E3;
            .modal-title {
                font-size: 1.333rem;
            }
            .modal-close {
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 50%;
                margin-top: -1rem;
                right: 20px;
                & > img {
                    width: 1.25rem;
                }
            }
        }
    }
    .modal-body {
        overflow: hidden;
        overflow-y: auto;
        background-color: white;
        border: 1px solid #D3D3D3;
        border-top: 0;
        padding: 0.875rem 4rem 5rem 4rem;
        
        .modal-body__section {
            margin-bottom: 1.875rem;
            
            &:last-of-type {
                margin-bottom: 4.375rem;
            }
            .section-title {
                font-size: 1rem;
                font-weight: bold;
                padding: 0 1rem 1.875rem 1rem;
            }

            .my-channel {
                background-color: #fafafa;
                border: 0;
                margin-bottom: 0;
                border-bottom: 1px solid #EBEBEB;
                border-top: 1px solid #EBEBEB;
            }
            .h-channel-section__list {
                padding: 0 1rem;
                @include respond-to(max-width, con) {
                    padding: 0 20px;
                }
                & > li {
                    &:not(:last-of-type) {
                        margin-bottom: 0.875rem;
                    }
                    .col-wrap {
                        .col-img {
                            @include respond-to(max-width, con) {
                                height: 8.333rem;
                            }
                            .channel-bookmark {
                                width: 1rem;
                                height: 1.25rem;
                                bottom: 0.625rem;
                                right: 0.625rem;
                            }
                        }
                        .col-txt {
                            .col-title {
                                font-size: 0.875rem;
                                @include respond-to(max-width, con) {
                                    font-size: 1.165rem;
                                }
                            }
                            .col-date {
                                font-size: 0.75rem;
                                @include respond-to(max-width, con) {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .modal-profile {
            text-align: center;
            padding: 0.875rem 0 4.375rem 0;
            .profile-img {
                width: 6.875rem;
                height: 6.875rem;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0 auto;
                margin-bottom: 1.875rem;
            }
            .profile-change {
                color: #A7A7A7;
                font-size: 0.875rem;
                font-weight: normal;
                letter-spacing: -0.03em;
            }
            .profile-btns {
                & > li {
                    &:not(:last-of-type) {
                        margin-right: 0.9375rem;
                    }
                    & > button {
                        font-size: 0.875rem;
                        color: #A7A7A7;
                        font-weight: 500;
                        line-height: 1;
                        padding: 0;
                        & > img {
                            margin-right: 0.3125rem;
                        }
                        @include respond-to(max-width, con) {
                            & > img {
                                width: auto;
                                height: 0.835rem;
                            }
                        }
                    }
                }
            }
        }

        .modal-body__title {
            background-color: #FAFAFA;
            height: 3.5rem;
            border-top: 1px solid #EBEBEB;
            border-bottom: 1px solid #EBEBEB;
            padding: 0 2rem 0 1rem;
            .title {
                font-size: 1rem;
                font-weight: 500;
                margin-right: 0.5rem;
                @include textoverflow();
            }
            .date {
                color: #5A5A5A;
                font-size: 1rem;
                font-weight: normal;
            }
            @include respond-to(max-width, con) {
                background-color: white;
                display: block;
                height: auto;
                padding: 1.333rem 20px;
                .title {
                    font-size: 1.165rem;
                    text-overflow: unset;
                    overflow: visible;
                    white-space: normal;
                    margin-bottom: 0.5rem;
                }
                .date {
                    font-size: 1rem;
                    color: #606060;
                }
            }
        }
        .modal-body__textarea {
            padding: 1.5rem 1rem;
            min-height: 15rem;
            border-bottom: 1px solid #EBEBEB;
            white-space: pre-line;
            @include respond-to(max-width, con) {
                padding: 2.2rem 20px;
                font-size: 1.165rem;
            }
        }
    }
    .bottom-btns {
        padding: 0 2.5rem;
        @include respond-to(max-width, con) {
            padding: 0;
            margin-top: auto;
        }
        &.full {
            padding: 0;
        }
    }
    .bottom-btn {
        font-size: 1rem;
        font-weight: 500;
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;
        @include respond-to(max-width, con) {
            font-size: 1.333rem;
            padding-top: 1.165rem;
            padding-bottom: 1.165rem;
        }
    }

    .mark-wrap {
        &:not(:last-of-type) {
            margin-bottom: 2.5rem;
        }
        .mark-title {
            font-size: 1rem;
            color: #5A5A5A;
            font-weight: normal;
            margin-bottom: 0.875rem;
        }
    }
    .mark-list__wrap {
        margin-top: 2.5rem;
    }
    .text-area__wrap {
        .text-area__content {
            background-color: #FAFAFA;
            border: 1px solid #EBEBEB;
            border-radius: 4px;
            font-size: 1rem;
            font-weight: normal;
            //white-space: pre-line;
            padding: 1.625rem;
            height: 18.75rem;
            overflow-y: auto;
        }
    }
}