.design-layout  {
    @include respond-to(max-width, con) {
        padding: 0;
        padding-bottom: 3.5rem;
    }
    .container {
        padding: 3.75rem 0 12.5rem 0;
        @include respond-to(max-width, con) {
            padding: 0;
        }
    }
}
.design-search__wrap {
    margin-bottom: 3.75rem;
    text-align: center;
    @include respond-to(max-width, con) {
        padding: 1.65rem 20px;
        background-color: white;
        margin-bottom: 0;
        border-bottom: 0.666rem solid #EAEAEA;
    }
}
.design-list__section {
    .design-list {
        & > li {
            width: 50%;
            margin-bottom: 1rem;
            &:nth-of-type(2n) {
                padding-left: 0.5rem;
            }
            &:nth-of-type(2n+1) {
                padding-right: 0.5rem;
            }
            .design-list__box {
                background-color: white;
                padding: 1.5625rem;
                border-radius: 0.25rem;
                position: relative;
                & > a {
                    display: block;
                }
            }
            .design-list__info {
                margin: 0;
                font-size: 1.125rem;
                margin-bottom: 0.5rem;
                & > dt {
                    width: 25%;
                    margin-bottom: 0.5rem;
                    color: #8E8E8E;
                    font-weight: normal;
                }
                & > dd {
                    width: 75%;
                    margin: 0;
                    font-weight: 500;
                    @include textoverflow;
                }
            }
            .date {
                margin-left: 25%;
            }
            .like-check__wrap {
                position: absolute;
                bottom: 1.5rem;
                right: 3.5625rem;
            }
        }

        @include respond-to(max-width, con) {
            & > li {
                width: 100%;
                margin-bottom: 0;
                border-bottom: 0.666rem solid #EAEAEA;
                &:nth-of-type(2n) {
                    padding-left: 0;
                }
                &:nth-of-type(2n+1) {
                    padding-right: 0;
                }
                .design-list__box {
                    padding: 1.333rem 20px;
                }

                .design-list__info {
                    font-size: 1.165rem;
                    margin-bottom: 1rem;
                    & > dt {
                        width: 27.5%;
                        margin-bottom: 0.5rem;
                    }
                    & > dd {
                        width: 62.5%;
                    }
                }
                .date {
                    margin-left: 27.5%;
                }
                .like-check__wrap {
                    position: absolute;
                    bottom: 1.583rem;
                    right: 2.25rem;
                    .like-check__label {
                        font-size: 1rem;
                        & > svg {
                            width: 1.165rem;
                        }
                    }
                }
            }
        }
    }
}

.design-detail__section {
    background-color: white;
    border-top: 3px solid $main-color;
    @include respond-to(max-width, con) {
        border-top: 0;
    }
    .design-detail {
        width: 52rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 4.8125rem;
        padding-bottom: 10.625rem;
        @include respond-to(max-width, con) {
            width: 100%;
            padding: 0;
        }
        .detail-hd {
            font-size: 2rem;
            font-weight: 500;
            padding-bottom: 3.75rem;
            text-align: center;
            border-bottom: 1.5px solid #EBEBEB;
            line-height: 1;
            @include respond-to(max-width, con) {
                display: none;
            }
        }
        .detail-info__wrap {
            padding: 2rem 5rem;
            padding-right: 1.625rem;
            border-bottom: 1.5px solid #EBEBEB;
            margin-bottom: 5.75rem;
            @include respond-to(max-width, con) {
                display: block;
                padding: 2.15rem 20px;
                border-bottom: 8px solid #EAEAEA;
                margin-bottom: 0;
            }
            .detail-info {
                flex: 1 1 auto;
                margin: 0;
                @include respond-to(max-width, con) {
                    margin-bottom: 2.165rem;
                }
                & > dt {
                    width: 15%;
                    font-size: 1.125rem;
                    color: #8E8E8E;
                    font-weight: normal;
                    &:not(:last-of-type) {
                        margin-bottom: 0.5rem;
                    }
                    @include respond-to(max-width, con) {
                        font-size: 1.165rem;
                        width: 20%;
                    }
                }
                & > dd {
                    width: 85%;
                    margin: 0;
                    font-size: 1.125rem;
                    font-weight: normal;
                    padding-right: 1rem;
                    @include respond-to(max-width, con) {
                        font-size: 1.165rem;
                        width: 80%;
                    }
                }
            }
            .btn {
                margin-left: auto;
                flex: 0 0 auto;
                font-size: 1rem;
                font-weight: 500;
                padding: 0 3.125rem;
                height: 3.5rem;
                box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.16);
                @include respond-to(max-width, con) {
                    margin: 0  auto;
                    width: 90%;
                    width: calc(100% - 2.5rem);
                    font-size: 1.165rem;
                    color: $main-color;
                    background-color: white;
                    border: 1.5px solid $main-color;
                    border-radius: 4px;
                    box-shadow: 3px 3px 10px rgba(255, 0, 0, 0.06);
                }
            }
        }
        .draft-list {
            @include respond-to(max-width, con) {
                padding: 2.165rem 20px;
            }
            & > li {
                width: 50%;
                margin-bottom: 1rem;
                @include respond-to(max-width, con) {
                    width: 100%;
                    margin-bottom: 2.165rem;
                    padding: 0 !important;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                &:nth-of-type(2n) {
                    padding-left: 0.5rem;
                }
                &:nth-of-type(2n+1) {
                    padding-right: 0.5rem;
                }
            }
            .draft-title {
                margin: 0;
                margin-bottom: 1.625rem;
                font-size: 1.125rem;
                font-weight: 500;
                .like-check__wrap {
                    margin-left: auto;
                    margin-right: 2rem;
                    @include respond-to(max-width, con) {
                        margin-right: 1.65rem;
                    }
                    .like-check__label {
                        font-size: 0.875rem;
                        font-weight: normal;
                        @include respond-to(max-width, con) {
                            font-size: 1rem;
                        }
                        & > svg {
                            width: 1rem;
                            @include respond-to(max-width, con) {
                                width: 1.25rem;
                                margin-right: 0.65rem;
                            }
                        }
                    }
                }
            }
            .draft-img {
                width: 100%;
                height: 12.5rem;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}

.design-register__tab {
    padding: 0 16rem;
    [role="tab"] {
        width: 25%;
        padding-bottom: 0.875rem;
        & > span {
            font-size: 1.5rem;
            font-weight: 500;
        }
        &[aria-selected="true"] {
            border-bottom: 3px solid $main-color;
            & > span {
                color: $main-color;
            }
        }
    }
    @include respond-to(max-width, con) {
        display: none;
    }
}
.design-register__tabpanel {
    background-color: white;
    padding: 5.5rem 0 5.625rem;
    .form {
        width: 46.5625rem;
        margin-left: auto;
        margin-right: auto;
    }
    @include respond-to(max-width, con) {
        padding: 2.1666rem 20px;
        .form {
            width: 100%;
            fieldset {
                & + fieldset {
                    margin-top: 0.8333rem;
                }
            }
            .f-label {
                display: none;
            }
            .f-input, .f-select {
                border: 0;
                border-bottom: 1.5px solid #E3E3E3;
                padding: 0.8333rem 0.5rem;
                font-size: 1.165rem;
            }
            .f-select {
                padding-right: 2.5rem;
            }
            .input-wrap {
                position: relative;
                .f-input {
                    width: 100%;
                    margin-right: 0;
                }
                .btn {
                    position: absolute;
                    border: 0;
                    height: auto;
                    font-size: 1rem;
                    right: 0;
                    top: 50%;
                    padding: 0.5rem 1.333rem;
                    font-weight: 500;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.design-detail__ft {
    @include respond-to(max-width, con) {
        bottom: 5rem;
        height: 3.65rem;
        padding: 0;
        .btn-wrap {
            width: 100%;
            height: 100%;
            position: absolute;
            .btn {
                height: 100%;
                margin: 0 !important;
                font-size: 1.165rem;
                &.cancel {
                    width: 35%;
                }
                &.main {
                    width: 65%;
                }
            }
        }
    }
}

.design-reg__ft {
    @include respond-to(max-width, con) {
        bottom: 5rem;
        height: 3.65rem;
        padding: 0;
        .btn-wrap {
            width: 100%;
            height: 100%;
            position: absolute;
            .btn {
                height: 100%;
                margin: 0 !important;
                font-size: 1.165rem;
                &.main {
                    width: 100%;
                }
            }
        }
    }
}