.member-layout {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .r-tabpanel {
        padding: 6.25rem 9rem;
    }
    @include respond-to(max-width, con) {
        padding: 0;
        .container {
            padding: 0;
        }
        .r-tabpanel {
            padding: 1.65rem 20px;
            &#panel-2 {
                @include respond-to(max-width, con) {
                    padding-left: 0;
                    padding-right: 0;
                    .member-list__wrap {
                        .member-search__wrap {
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
    .search-select {
        margin-right: 0.625rem;
    }
    .member-search__wrap {
        margin-bottom: 3.125rem;
        @include respond-to(max-width, con) {
            margin-bottom: 1.65rem;
        }
    }
    .member-list__wrap {
        .commuting-site {
            border-bottom: 1px solid #EBEBEB;
            font-size: 1.25rem;
            font-weight: 500;
            padding-bottom: 3.75rem;
            margin-bottom: 2.875rem;
            text-align: center;
            & > span {
                color: #8E8E8E;
                display: inline-block;
                margin-right: 0.75rem;
                font-weight: normal;
            }
        }
        .commuting-filter {
            margin-bottom: 1.875rem;
            .search-select {
                margin-left: auto;
            }
        }
    }
    .member-table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        font-size: 0.875rem;
        font-weight: normal;
        margin-bottom: 6.25rem;
        thead {
            th {
                text-align: left;
                background-color: rgba(96,96,96,0.5);
                color: white;
                font-size: 0.875rem;
                font-weight: normal;
                padding: 0.625rem 0.5rem;
                &:first-child {
                    padding-left: 4.375rem;
                }
            }
        }
        tbody {
            tr:nth-of-type(2n+1) {
                & > td {
                    background-color: #EFEFEF;
                }
            }
            td {
                padding: 1.4375rem 0.5rem;
                &:first-child {
                    padding-left: 4.375rem;
                }
            }
        }
        @include respond-to(max-width, con) {
            border: 1px solid #707070;
            table-layout: fixed;
            margin-bottom: 2.5rem;
            thead {
                th {
                    border-bottom: 1px solid #707070;
                    text-align: center;
                    color: black;
                    background-color: #E3E3E3;
                    padding: 0.8333rem 0.25rem;
                    font-size: 1rem;
                    font-weight: 500;
                    & + th {
                        border-left: 1px solid #707070;
                    }
                    &:first-child {
                        padding-left: 0.25rem;
                    }
                }
            }
            tbody {
                tr {
                    &:not(:last-of-type) {
                        td {
                            border-bottom: 1px solid #707070;
                        }
                    }
                }
                td {
                    padding: 0.8333rem 1.165rem;
                    font-size: 1rem;
                    color: black;
                    background-color: white !important;
                    @include textoverflow;
                    & + td {
                        border-left: 1px solid #707070;
                    }
                    &:first-child {
                        padding-left: 1.165rem;
                        background-color: #F4F4F4 !important;
                    }
                    &:not(:nth-of-type(3)) {
                        text-align: center;
                    }
                }
            }
        }
    }
}
.member-info__section + .member-info__section {
    margin-top: 3.75rem;
}
.member-info__section {
    .section-title {
        font-size: 1.25rem;
        padding: 0;
        padding-bottom: 1.125rem;
        margin-bottom: 2.5rem;
        .cancel-btn {
            font-size: 0.75rem;
            color: $main-color;
            border: 1px solid $main-color;
            border-radius: 300rem;
            padding: 0 0.625rem;
            height: 1.375rem;
            margin-left: 0.875rem;
            transform: translateY(-0.125rem);
        }
    }
    .section-content {
        &.last {
            .info-list {
                margin-bottom: 2.5rem;
                & > li {
                    padding: 0;
                    display: flex;
                    font-weight: 500;
                    & > span {
                        font-weight: normal;
                    }
                    &:not(:last-of-type) {
                        border: 0;
                        padding-bottom: 0.375rem;
                    }
                }
            }
        }
        .member-img {
            padding: 1.375rem 1.4375rem;
            border: 1px solid #D6D9E3;
            border-radius: 3px;
            text-align: center;
            font-size: 1.25rem;
            font-weight: normal;
            margin-left: 2.5rem;
            margin-right: 4.78125rem;
            .profile-img {
                margin-bottom: 0.875rem;
            }
        }
        .info-list {
            flex: 1 1 auto;
            padding-right: 1.625rem;
            & > li {
                padding: 1rem 0;
                font-size: 1rem;
                font-weight: normal;
                &:not(:last-of-type) {
                    border-bottom: 1px solid #EBEBEB;
                    & > svg {
                        margin-right: 0.6rem;
                    }
                }
                & > svg {
                    margin-right: 0.8rem;
                }
                & > span {
                    display: inline-block;
                    width: 5.875rem;
                    color: #919191;
                    flex: 0 0 auto;
                }
            }
        }

        .select-box {
            padding: 2.5rem 5.625rem;
            border: 1px solid #D9D9D9;
            border-radius: 3px;
            margin-bottom: 4.375rem;
            fieldset {
                .f-label {
                    margin: 0;
                    font-size: 1rem;
                }
                .f-select {
                    width: 78%;
                    font-size: 1rem;
                    margin-left: auto;
                    padding-top: 0.8125rem;
                    padding-bottom: 0.8125rem;
                }
            }
            .btn-wrap {
                padding-left: 22%;
                margin-top: 2.5rem;
                .btn {
                    min-width: 9.75rem;
                    height: 2.25rem;
                    font-size: 0.875rem;
                    font-weight: 500;
                    color: white;
                    & + .btn {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}
.commuting-wrap {
    & + .commuting-wrap {
        margin-top: 3.125rem;
        @include respond-to(max-width, con) {
            margin-top: 2rem;
        }
    }
    .commuting-hd {
        background-color: rgba(96,96,96,0.5);
        font-size: 0.875rem;
        font-weight: 500;
        color: white;
        padding: 0.625rem 4.375rem;
        @include respond-to(max-width, con) {
            background-color: #F4F4F4;
            font-size: 1rem;
            color: black;
            padding: 0.5rem 20px;
            border-bottom: 1.5px solid #E3E3E3;
            border-top: 1.5px solid #E3E3E3;
        }
    }
    .commuting-list {
        @include respond-to(max-width, con) {
            padding: 0 20px;
        }
        & > li {
            justify-content: space-between;
            padding: 1.4375rem 4.375rem;
            @include respond-to(max-width, con) {
                background-color: white !important;
                padding: 1.165rem 0;
                & + li {
                    border-top: 1px solid #E3E3E3;
                }
            }
            &:nth-of-type(2n+1) {
                background-color: #EFEFEF;
            }
            .commuting-name {
                font-size: 0.875rem;
                font-weight: 500;
                @include respond-to(max-width, con) {
                    font-size: 1.165rem;
                    max-width: 3.5rem;
                }
            }
            .commuting-times {
                color: #8E8E8E;
                font-size: 0.875rem;
                font-weight: normal;
                @include respond-to(max-width, con) {
                    font-size: 1.165rem;
                }
                & > span {
                    display: inline-block;
                    width: 5.125rem;
                    text-align: center;
                    &:first-of-type {
                        margin-right: 3.125rem;
                    }
                    &:last-of-type {
                        margin-left: 3.125rem;
                    }
                    @include respond-to(max-width, con) {
                        width: auto;
                        &:first-of-type {
                            margin-right: 1.65rem;
                        }
                        &:last-of-type {
                            margin-left: 1.65rem;
                        }
                    }
                }
                .commuting-btn {
                    font-size: 0.75rem;
                    color: white;
                    font-weight: 500;
                    height: 1.625rem;
                    width: 5.125rem;
                    background-color: $comp-color;
                    border-radius: 0.25rem;
                    &:first-of-type {
                        margin-right: 3.125rem;
                    }
                    &:last-of-type {
                        margin-left: 3.125rem;
                    }
                    @include respond-to(max-width, con) {
                        width: auto;
                        font-size: 1rem;
                        height: 2.165rem;
                        padding: 0 1rem;
                        &:first-of-type {
                            margin-right: 0.5833rem;
                        }
                        &:last-of-type {
                            margin-left: 0.5833rem;
                        }
                    }
                }
            }
            .btn {
                font-size: 0.75rem;
                color: $comp-color;
                font-weight: 500;
                padding: 0 0.5625rem;
                height: 1.5rem;
                border: 1px solid $comp-color;
                @include respond-to(max-width, con) {
                    font-size: 1rem;
                    padding: 0 0.75rem;
                    height: 2rem;
                }
                &:disabled {
                    color: #8E8E8E;
                    border-color: #8E8E8E;
                }
            }
        }
    }
}

.commute-date {
    font-size: 1.625rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.5rem;
}
.commute-check__box {
    width: 25.375rem;
    margin: 0 auto;
    border: 2px solid #E3E3E3;
    .site {
        font-size: 1.125rem;
        font-weight: 500;
        background-color: #E3E3E3;
        text-align: center;
        padding: 0.75rem;
    }
    .commute-check {
        padding: 1.875rem 0;
        .commute-btn {
            width: 8.5625rem;
            height: 8.5625rem;
            border-radius: 50%;
            background-color: #E3E3E3;
            color: #606060;
            transition: all 0.25s;
            text-align: center;
            font-size: 1.0625rem;
            font-weight: normal;
            & > strong {
                font-size: 2rem;
                font-weight: 500;
                display: block;
                margin-bottom: 0.5rem;
            }
            & + .commute-btn {
                margin-left: 2.5rem;
            }
            &:hover {
                background-color: $comp-color;
                box-shadow: 3px 3px 10px rgba(181, 30, 36, 0.24);
                color: white;
            }
        }
    }
}