.form {
    border: 0;
    //padding: 0 0.875rem;
    padding: 0;
    .fieldset-wrap {
        & + .fieldset-wrap {
            margin-top: 2.5rem;
            padding-top: 2.5rem;
            border-top: 1px solid #ebebeb;
        }
    }
    fieldset {
        border: 0;
        padding: 0;
        & + fieldset {
            margin-top: 2.5rem;
        }
        &.hor-fieldset {
            .f-label {
                width: 8.3125rem;
                margin-bottom: 0;
            }
        }
        .date-sel {
            & > span {
                display: inline-block;
                margin: 0 1.3rem;
            }
            .f-select {
                margin-top: 0 !important;
                &.year {
                    width: 10rem;
                    margin-right: 0.625rem;
                }
                &.mon {
                    width: 6.875rem;
                }
            }
        }
        .alert {
            color: $main-color;
            font-size: 0.875rem;
            font-weight: normal;
            padding-left: 0.3125rem;
            margin-top: 0.5rem;
            @include respond-to(max-width, con) {
                font-size: 1rem;
            }
        }
        .f-label {
            display: inline-block;
            font-size: 1.125rem;
            color: black;
            margin-bottom: 1.25rem;
            &.required {
                &::after {
                    content: '*';
                    color: $main-color;
                    display: inline-block;
                    font-size: 1.125rem;
                    font-weight: 500;
                    margin-left: 0.25rem;
                }
            }
        }
        .f-radio {
            &:checked {
                & + .f-radio__label {
                    .f-radio__faux {
                        border-color: $main-color;
                        &::before {
                            background-color: $main-color;
                        }
                    }
                }
            }
        }
        .checkbox-wrap {
            flex: 1 1 auto;
            .checkbox-label {
                cursor: pointer;
                padding-left: 1.6875rem;
                font-size: 1.125rem;
                font-weight: normal;
                & > svg {
                    transform: translateY(0.1rem);
                    margin-right: 0.625rem;
                }
            }
            input[type='checkbox'] {
                &:checked + .checkbox-label {
                    & > svg  {
                        & > path {
                            fill: $main-color;
                        }
                    }
                }
            }
        }
        .radio-wrap + .radio-wrap {
            margin-top: 0.875rem;
        }
        .f-radio__label {
            cursor: pointer;
            font-size: 1.125rem;
            font-weight: 500;
           .f-radio__faux {
               display: inline-block;
               width: 1.5rem;
               height: 1.5rem;
               border-radius: 50%;
               border: 2px solid #C3C3C3;
               position: relative;
               margin-right: 0.8125rem;
               &::before {
                   content: '';
                   width: block;
                   width: 0.75rem;
                   height: 0.75rem;
                   position: absolute;
                   background-color: #C3C3C3;
                   border-radius: 50%;
                   top: 50%;
                   left: 50%;
                   transform: translateX(-50%) translateY(-50%);
               }
           }
        }
        .f-input, .f-select {
            display: block;
            width: 100%;
            padding: 1.125rem;
            border: 0;
            border: 1px solid #E3E3E3;
            font-size: 1.125rem;
            font-weight: normal;
            &::placeholder {
                color: #ADADAD;
            }
            &:not(:first-of-type):not(:only-of-type) {
                margin-top: 0.875rem;
            }
            @include respond-to(max-width, con) {
                font-size: 1.165rem;
            }
        }
        .f-textarea {
            height: 21.25rem;
            width: 100%;
            border: 0;
            border: 1px solid #C7C7C7;
            border-radius: 1px;
            padding: 1.5625rem;
            font-size: 1.125rem;
            line-height: 1.5;
            font-weight: normal;
            &::placeholder {
                color: #ADADAD;
            }
        }
        .f-select {
            background-image: url('../images/ico-dropdown_sel.svg');
            background-size: 0.625rem;
            background-position: right 1.25rem center;
            background-repeat: no-repeat;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding-right: 2.5rem;
            &::-ms-expand {
                display: none;
            }
        }
        .file-label {
            .file-btn {
                border: 1px solid #E3E3E3;
                padding: 0.875rem;
                padding-bottom: 0.5rem;
                border-radius: 4px;
                margin-right: 1.25rem;
                & > img {
                    width: 1.55rem;
                    height: auto;
                }
            }
        }
        .select-wrap {
            &.f-setting {
                position: relative;
                .f-select {
                    padding-left: 2rem;
                }
                &::before {
                    content: '';
                    width: 1.5625rem;
                    height: 1.5625rem;
                    display: block;
                    background-image: url('../images/ico-earth.svg');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0.125rem;
                    top: 50%;
                    margin-top: -0.78125rem
                }
            }
        }

        .input-wrap {
            position: relative;
            width: 100%;
            .f-input {
                width: auto;
                flex: 1 1 auto;
                margin-right: 1rem;
            }
            .btn {
                flex: 0 0 auto;
                padding: 1.21875rem 1.625rem;
                font-size: 1.125rem;
                color: $main-color;
                font-weight: normal;
                height: auto;
                line-height: 1.375rem;
                border: 1.5px solid $main-color;
                &.search-btn {
                    background-color: #EBEBEB;
                    padding: 1.21875rem 2.5rem;
                    border-color: #EBEBEB;
                    color: #282828;
                }
            }
        }
    }

    .f-list {
        margin-top: 1.25rem;
        & > li {
            border: 1px solid #E3E3E3;
            padding: 0.625rem 0.5rem;
            padding-right: 2.375rem;
            position: relative;
            &:not(:last-of-type) {
                margin-right: 0.625rem;
            }
            .delete {
                position: absolute;
                top: 0;
                right: 0;
                width: 2.375rem;
                height: 100%;
                background-image: url('../images/ico-close.svg');
                background-size: 0.625rem;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}
.section-title {
    font-size: 1.5rem;
    font-weight: normal;
    //padding: 1.5rem 0.875rem;
    padding: 1.5rem 0;
    padding-top: 0;
    border-bottom: 2px solid black;
    margin-bottom: 3.125rem;
    position: relative;
    & > b {
        font-weight: 500;
    }
    .alert {
        color: $main-color;
        font-size: 1rem;
        font-weight: normal;
        position: absolute;
        bottom: -2rem;
        right: 0;
        & > b {
            font-weight: 500;
        }
    }
}
.input-section {
    & + .input-section {
        margin-top: 6.25rem;
    }
    & + .button-wrap {
        margin-top: 6.25rem;
        .btn {
            width: 17.5rem;
            padding: 1rem 0.25rem;
            font-size: 1rem;
            &.active {
                background-color: $main-color;
            }
            &:disabled {
                background-color: #CECECE;
            }
            &.cancel {
                width: 10.25rem;
                background-color: #CECECE;
            }
            & + .btn {
                margin-left: 1rem;
            }
        }
    }
}

.pay-info {
    margin-top: 1.625rem;
    line-height: 2.111;
    & > p {
        color: #727272;
        font-size: 1.125rem;
        font-weight: normal;
    }
    .pay-info__list {
        & > li {
            color: #C3C3C3;
            font-size: 1.125rem;
            font-weight: normal;
        }
    }
}

.like-check__wrap {
    .like-check__label {
        cursor: pointer;
        color: #E3E3E3;
        font-size: 1.125rem;
        & > svg {
            margin-right: 0.5rem;
        }
    }
    .like-check {
        &:checked {
            & + .like-check__label {
                color: $main-color;
                & > svg > path {
                    fill: $main-color;
                }
            }
        }
    }
}

.search {
    position: relative;
    display: inline-block;
    .search-input {
        border: 1px solid #EBEBEB;
        width: 25rem;
        height: 2.5rem;
        padding: 0 1rem;
        padding-right: 2.5rem;
        font-size: 0.875rem;
        color: #767676;
        font-weight: normal;
    }
    .search-btn {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url('/images/ico-search.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0.735rem;
        z-index: 1;
    }
}
.search-select {
    padding: 0.625rem 1rem;
    padding-right: 2.75rem;
    border: 1px solid #EBEBEB;
    color: #767676;
    font-size: 0.875rem;
    font-weight: normal;
    background-image: url('/images/ico-s-dropdown.svg');
    background-position: right 1rem center;
    background-size: 0.75rem;
    background-repeat: no-repeat;
}